@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --white: #FEFEFE;
    --malachine: #0AC763;
    --silver: #BDBCBC;
    --cocoa-brown: #332927;
    --black: #333333;
    --boulder: #B8B4B4;
    --scarlet: #FF1F18;
    --cobalt: #0252BC;
    --bg: #FAFAF8;
    --purple: #5E18BB;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    background-color: var(--bg);
}

.contenerdor-principal{
    width: 100%;
}

/* estilos header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    margin-bottom: 10px;
    align-items: center;
    padding: 2% 4%;  
}

header nav ul{
    list-style: none;
    cursor: pointer;
}

header .logo {
    font-family: 'Inter';
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    color: var(--scarlet);
    cursor: pointer;
}

header nav li .lgUbicacion{
    color: var(--scarlet);
    font-size: 20px;
    margin-right: 5px;
}

header nav li button{
    background-color: var(--malachine);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 2.5em;
    height: auto;
}

header nav li button:active{
    background-color: var(--malachine);
    opacity: 0.7;
}

header nav li{
    text-transform: capitalize;
    font-weight: bold;
    display: inline;
    padding: 0 3px;
}

/* Productos en oferta y populares */
.ofertas, .populares{
    margin: 40px;
    padding: 20px;
    box-shadow: -2px 13px 17px -3px rgba(0,0,0,0.62);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

h2{
    font-weight: bold;
    font-size: 20px;
    padding: 24px 40px;
    padding-bottom: 0;
}


.ofertas .descuento{
    font-size: 12px;
    font-weight: bold;
    background-color: var(--silver);
    color: var(--purple);
    padding: 4px;
    border-radius: 10px;
}
.precio{
    font-weight: bold;
    font-size: 16px;
}

.ofertas .precio span{
    opacity: 0.6;
    text-decoration: line-through;
}

.ofertas p, .populares p{
    font-size: 14px;
}

.btnAgregar{
    background-color: var(--malachine);
    border: none;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btnAgregar:active, #pago:active{
    background-color: var(--malachine);
    opacity: 0.7;
}


/* modal carrito de compras */
#modal-car{
    background: rgba(255, 255, 255, 0.8);
    min-width: 40%;
    height: 100vh;
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 60%;
	z-index: 3;
	opacity: 0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
    overflow: auto
}

#modal-car:target{
    opacity:1;
	pointer-events: auto;
}

#header-modal-car{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    padding: 24px 25px;  
}

#header-modal-car a, #header-modal-ubicacion a{
    font-size: 24px;
    color: var(--black);
}

#header-modal-car span{
    font-weight: bold;
}

.product-modal{
    padding-bottom: 40px;
}

.product-modal img{
    width: 25%;
}

.product-modal .producto{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--white);
}

.product-modal .info-producto{
    display: flex;
    justify-content: flex-start;
}

.info-producto div{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 5px;
    line-height: 2em;
    padding: 0px;
}

.product-modal .cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cantidad a{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.botones{
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botones button{
    border: none;
    border-radius: 8px;
    width: 40%;
    height: 5vh;
}

.botones  #pago{
    background-color: var(--malachine);
    color: var(--white);
}

.botones #vaciar{
    background-color: var(--silver);
    color: var(--black);
}


/* modal ubicacion */

#modal-ubicacion{
    background-color: var(--white);
    min-width: 60%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 3;
    opacity: 0;
    transition: opacity 400ms ease-in;
	pointer-events: none;
}

#modal-ubicacion:target{
    opacity:1;
	pointer-events: auto;
}

.modal-ubicacion-informacion{
    background-color: var(--white);
    max-width: 60%;
    margin: auto;
    margin-top: 2%;
    padding: 40px;
    border-radius: 16px;
}

#header-modal-ubicacion{
    display: flex;
    justify-content: end;
}

#ubicacion-modal span{
    font-weight: bold;
    font-size: 28px;
}

#btnUbicacion{
    background-color: var(--malachine);
    border: none;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin-top: 40px;
}

#select-ubi{
    border: 1px solid #B8B4B4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
}
/* media queris */

@media screen and (max-width: 992px){
    #modal-car{
        min-width: 70%;
        position: fixed;
        left: 30%;
    }

    .botones{
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    #modal-car{
        min-width: 100%;
        position: fixed;
        left: 0;
    }

    .botones{
        width: 100%;
    }

    .ofertas, .populares{
        display: flex;
        justify-content: center;
    }

    .modal-ubicacion-informacion{
        max-width: 90%;
        margin-top: 10%;
        padding: 16px;
    }
}
